/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: gray; */
}

.login-container, .register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  color: red;
  margin: 5px 0;
}

/* ajustes para o navbar */
.MuiAppBar-root {
  background-color: #1976d2 !important;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2);
}

.MuiTypography-subtitle1 {
  font-weight: 400 !important;
  opacity: 0.9;
}

/* Ajustes para card */
.MuiCard-root {
  transition: transform 0.2s ease-in-out;
}

.MuitCard-root:hover {
  transform: translate(-2px)
}

/* espaçamento entre columas */

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding: 12px;
}

